<div class="controls">
  <a class="delete" data-tooltip="PF1.Delete" data-change-id="{{changeId}}">
    <i class="fas fa-trash" inert></i>
  </a>
  <a class="duplicate" data-tooltip="PF1.Duplicate" data-change-id="{{changeId}}">
    <i class="fas fa-copy" inert></i>
  </a>
  <a class="edit" data-tooltip="PF1.Edit" data-change-id="{{changeId}}">
    <i class="fas fa-edit" inert></i>
  </a>
</div>
